div {
    width: 350px;
    height: 350px;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
