.square {
    height: 150px;
    width: 150px;
    background-color: red;
}

.square2 {
    height: 150px;
    width: 150px;
    background-color: blue;
    margin-top: -130px;
    margin-left: 20px;
}

.square3 {
    height: 150px;
    width: 150px;
    background-color: yellow;
    margin-top: -130px;
    margin-left: 40px;
}
