  div {
    width: 350px;
    height: 350px;
    background-image: linear-gradient(to top,red, orange, yellow, green,cyan ,blue,purple,pink,red);
    border-radius: 50%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }