.square {
    height: 150px;
    width: 150px;
    background-color: red;
}

.square2 {
    height: 150px;
    width: 150px;
    background-color: blue;
    position: relative;
    left: 20px;
    top: -130px
}

.square3 {
    height: 150px;
    width: 150px;
    background-color: yellow;
    position: relative;
    left: 40px;
    top: -260px
}
